$book-orange: #f38f19;
$muted-blue: #369;

@import url('https://fonts.googleapis.com/css?family=Faster+One');

body {
  font-family: 'Source Sans Pro', sans-serif;

  a {
    text-decoration: none;
    color: #369;
  }

  label {
    display: block;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

nav.navbar {
  margin: 0 -15px;
  padding: 0 15px;

  .navbar-brand {
    font-family: 'Faster One', cursive;
    color: #f38f19;
    font-size: 1.75em;

    span {
      margin-right: 25px;
      img {
        max-width: 1em;
      }
    }
  }
}
